@model IEnumerable<Interfaz.Models.PedidoViewModel>

@{
    ViewData["Title"] = "MisPedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Mis Pedidos</h1>

@if (!Model.Any())
{
    <p>No hay pedidos de este usuario.</p>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title text-black-50">Estado: @Html.DisplayFor(modelItem => item.Estado)</h5>
                        <p class="card-text">
                            <strong>Fecha:</strong> @Html.DisplayFor(modelItem => item.Fecha)<br>
                            <strong>Entrega estimada:</strong> @Html.DisplayFor(modelItem => item.Entrega_est)<br>
                            <strong>Total:</strong> @((item.Total + item.Gastos_envio).ToString("C"))<br>
                            <strong>Gastos de envío:</strong> @Html.DisplayFor(modelItem => item.Gastos_envio)<br>
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        @Html.ActionLink("Ver Detalles", "Details", "Pedido", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Cancelar Pedido", "Delete", "Pedido", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    </div>
                </div>
            </div>
        }
    </div>
}

