@model IEnumerable<DsmGen.ApplicationCore.EN.Dominio_dsm.ArticuloEN>

@{
    ViewData["Title"] = "Home Page";
    var marca = Context.Request.Query["tipo"];
}


<div class="text-center">
    <!-- Barra de búsqueda -->
    <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
            <form method="get" action="@Url.Action("Index", "Home")">
                <div class="input-group">
                    <input type="text" class="form-control " name="tipo" placeholder="Buscar por nombre" value="@Context.Request.Query["tipo"]" />
                    <button class="btn  btn-buscar" type="submit">
                        <i class="bi bi-search"></i> Buscar
                    </button>
                </div>
            </form>

        </div>
    </div>
    <h1 class="display-4">Destacados</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-5">
                <div class="card h-100">
                    <div class="card-img-top text-center">
                        <a href="@Url.Action("Detalles", "Articulo", new { id = item.Id })" >
                        @if (!string.IsNullOrEmpty(item.Foto))
                        {
                            <img src="@item.Foto" alt="@item.Nombre" class="img-fluid" style="max-height: 150px;" />
                        }
                        else
                        {
                            <span>Sin imagen</span>
                        }
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.Nombre</h5>
                        <p class="card-text fw-bold">@item.Precio €</p>
                    </div>
                    <div class="card-footer text-center">
                        <form method="post" action="@Url.Action("Favorito", "Home")">
                            <input type="hidden" name="idArticulo" value="@item.Id" />
                            <button type="submit" class="btn btn-sm btn-fav">
                                <i class="bi bi-heart-fill me-2"></i> Favorito
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
