@model Interfaz.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1>@Model.Nombre</h1>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Nombre:</strong> @Model.Nombre</p>
            <p><strong>Correo Electrónico:</strong> @Model.Email</p>
            <p><strong>Fecha de Nacimiento:</strong> @Model.FechaNac.ToString("dd/MM/yyyy")</p>
        </div>
        <div class="col-md-6">
            <!-- Si tienes una imagen de perfil, puedes mostrarla aquí -->
            <p><strong>Pedidos:</strong></p>
            
        </div>
    </div>

    <div class="mt-4">
        <a href="@Url.Action("Editar", "Usuario")" class="btn btn-primary">Editar Perfil</a>
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Volver</a>
    </div>
</div>

