@model Interfaz.Models.CarritoViewModel
@{
    ViewData["Title"] = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="display-4 text-center mb-4">Carrito de Compras</h1>
    <div class="row">
        @if (Model.Articulos != null && Model.Articulos.Any())
        {
            @foreach (ArticuloViewModel articulo in Model.Articulos)
            {
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-img-top text-center">
                            @if (!string.IsNullOrEmpty(articulo.Imagen))
                            {
                                <img src="@articulo.Imagen" alt="@articulo.Nombre" class="img-fluid" style="max-height: 150px;" />
                            }
                            else
                            {
                                <span>Sin imagen</span>
                            }
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@articulo.Nombre</h5>
                            <p class="card-text fw-bold">Precio: @articulo.Precio €</p>
                            <p class="card-text">Talla: @articulo.Talla</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="@Url.Action("Eliminar", "Carrito", new { id = articulo.Id })" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Eliminar</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <div class="alert alert-warning text-center" role="alert">
                    No hay artículos en el carrito.
                </div>
            </div>
        }
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
        <h3>Total: @Model.Subtotal €</h3>
        <div class="d-flex justify-content-between align-items-center ">
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary me-2 mr-3">Seguir Comprando</a>
            @if (Model.Articulos != null && Model.Articulos.Any())
            {
                <form method="post" action="@Url.Action("RevisarPedido", "Articulo")">
                    <button type="submit" class="btn btn-primary">Pasar por Caja</button>
                </form>
            }
        </div>
    </div>
</div>
