@model Interfaz.Models.ArticuloViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Detalles del Producto</h1>

    <div class="row">
        <!-- Columna de la imagen -->
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.Imagen))
            {
                <img src="@Model.Imagen" alt="@Model.Nombre" class="img-fluid mb-4" />
            }
            else
            {
                <span>Sin imagen disponible</span>
            }

           
        </div>

        <!-- Columna de los detalles del producto -->
        <div class="col-md-8">
            <h3>@Model.Nombre</h3>
            <p class="lead">@Model.Descripcion</p>
            <hr />

            <dl class="row">
                <dt class="col-sm-4">Talla</dt>
                <dd class="col-sm-8">@Model.Talla</dd>

                <dt class="col-sm-4">Precio</dt>
                <dd class="col-sm-8">@Model.Precio €</dd>

                <dt class="col-sm-4">Verificado</dt>
                <dd class="col-sm-8">
                    @(Model.Check_verificado ? "✔ Verificado" : "✘ No Verificado")
                </dd>

                <dt class="col-sm-4">Recomendaciones</dt>
                <dd class="col-sm-8">@Model.Recomendaciones</dd>

                <dt class="col-sm-4">Descripción del Verificado</dt>
                <dd class="col-sm-8">@Model.Desc_verificado</dd>

                <dt class="col-sm-4">Color</dt>
                <dd class="col-sm-8">@Model.Color</dd>

                <dt class="col-sm-4">Marca</dt>
                <dd class="col-sm-8">@Model.Marca</dd>

                <dt class="col-sm-4">Stock</dt>
                <dd class="col-sm-8">@Model.Stock</dd>
            </dl>

           
        </div>
    </div>
    <div class="">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })
    </div>
</div>


