@model CarritoViewModel

@{
    ViewData["Title"] = "Revisar Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="mb-4 ">Resumen del Pedido</h2>
    <div class="row">
        <!-- Resumen del Pedido -->
        <div class="col-md-7 mb-4 ">
            <div class="d-flex flex-column justify-content-between h-75">
            <table class="table table-hover table-striped table-bordered table-sm">
                <thead class="thead text-center">
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                       
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var articulo in Model.Articulos)
                    {
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(articulo.Imagen))
                                {
                                    <img src="@articulo.Imagen" alt="@articulo.Nombre" class="img-fluid" style="max-height: 60px;" />
                                }
                                else
                                {
                                    <span>Sin imagen</span>
                                }
                            </td>
                            <td>@articulo.Nombre</td>
                            
                            <td>@articulo.Precio €</td>
                            <td>
                                <a href="@Url.Action("Eliminar", "Carrito", new { id = articulo.Id })" class="btn btn-danger btn-sm eliminar">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h4>Total: @Model.Subtotal €</h4>
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-sm btn-1">Seguir Comprando</a>
            </div>
            
        </div>

        <!-- Formulario de Dirección -->
        <div class="col-md-5">
            <h3>Dirección de Envío</h3>
            <form method="post" action="@Url.Action("ConfirmarPedido", "Pedido")" class="formulario-envio">
                <div class="form-group">
                    <label for="TipoEnvio">Elige el tipo de envío</label>
                    <select id="TipoEnvio" name="TipoEnvio" class="form-control">
                        @foreach (var opcion in ViewBag.OpcionesEnvio as List<String>)
                        {
                            <option value="@opcion">@opcion</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                  
                    <input type="text" id="Calle" name="Calle" class="form-control" placeholder="Calle, número, piso, etc." required />
                </div>
                <div class="form-group">
                    
                    <input type="text" id="Provincia" name="Provincia" class="form-control" placeholder="Provincia" required />
                </div>
                <div class="form-group">
               
                    <input type="number" id="CodigoPostal" name="CodigoPostal" class="form-control" placeholder="Código Postal" required />
                </div>
                <div class="form-group">
                    
                    <input type="number" id="Telf" name="Telf" class="form-control" placeholder="Teléfono" required />
                </div>
                <div class="form-group">
                  
                    <input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Nombre Completo" required />
                </div>

                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-primary">Ir al pago</button>
                </div>
            </form>
        </div>
    </div>
</div>
